* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: white;

   


}

.main-container{
     width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10%;
}

.left {}

.container h1 {
    color: orange;
    font-size: 40px;
    margin-bottom: 20px;

}

h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 20px;

}

p {
    color: rgba(255, 166, 0, 0.712);
    margin-bottom: 10px;

}

button {
    background-color: orange;
    color: black;
    border: none;
    border-radius: 7px;
    padding: 15px 30px;
    margin-top: 10px;


}
button a{
    color: white;
    text-decoration: none;

}

.right {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    background-color: orange;
    position: relative;

}

.background img {
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 10px;
}

/* RESPONSIVENBESS */
@media (max-width: 500px) {
    .main-container {
        flex-direction: column-reverse;
        gap: 5vh;
    }
}